/* body {
    background-image: url(../img/what-the-hex-dark.png);
} */

.logo {
    font-family: 'Peralta', cursive;
}
  
.logo a {
    color: rgba(14, 6, 6, 0.9);
}
  
.logo a:hover,
.logo a:active {
    text-decoration: none;
}