{% extends 'base.html' %}

{% block breadcrumb %}
<div class="table">
  <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Name</th>
          <th scope="col">Country</th>
        </tr>
      </thead>
      <tbody>
        {% for project in projects %}
          <tr>
            <th scope="row">{{project.internal_id}}</th>
            <td><a href="{% url 'projects:detail' internal_id=project.internal_id %}">{{project.name}}</a></td>
            <td>{{project.country}}</td>
          </tr>
        {% endfor %}
      </tbody>
  </table>
</div>
{% endblock breadcrumb %}